{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block stylesheets %}
        <link href="{{ asset('styles/style.css') }}" type="text/css" rel="stylesheet">
        
        {% endblock %}

</head>

<body>

  <!-- Simulate a smartphone / tablet -->
  <div class="mobile-container">

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="{{ path('accueil') }}" class="active">Nation Sounds</a>
      <div id="myLinks">
        <a href="{{ path('informations') }}">Informations</a>
        <a href="{{ path('programme') }}">Programme</a>
        <a href="{{ path('carte') }}">Carte</a>
        <a href="{{ path('ticket') }}">Billetterie</a>
        <a href="{{ path('faq') }}">FAQ</a>
        <a href="{{ path('partenaires') }}">Partenaires</a>
        <a href="{{ path('social') }}">Reseaux sociaux</a>


      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>



    <div class="faq">
      <h1>FAQ</h1>
    </div>


    <img src="{{ asset('/imgs/fiesta.jpg') }}" alt="fiestaboumboum" width="100%">
     
    <div class="faqask">
      <h3>Règles générales du festival</h3>
      <a href=""><img src="{{ asset('/imgs/fleche.png') }}" alt="faqflecge" height="60px" width="60px"> </a>
      
    </div>
    <div class="text_faq">
    <p><strong>
1.AVERTISSEMENTS</strong>

Pour accéder au festival, il faut avoir 16 ans révolus !
Nous faisons le maximum pour décorer l’ensemble du terrain du festival, afin que vous soyez intégrés dans une ambiance hors du commun. C’est pourquoi nous vous demandons de bien vouloir respecter ces décorations.
</br></br>
<strong>2.LES OBJETS INTERDITS</strong></br>

-PAS de verre sous quelque forme que ce soit</br>
-PAS de substances illégales, drogue ou médicaments</br>
-PAS de pointeurs lasers</br>
-PAS de pistolets à eau ou de brumisateurs</br>
-PAS de drones</p>
</div>

    <div class="faqask">
      <h3>Lors du festival</h3>
      <a href=""><img src="{{ asset('/imgs/fleche.png') }}" alt="faqflecge" height="60px" width="60px"> </a>
    </div>
    <div class="text_faq">
    <p><strong>1.LES HORAIRES DU FESTIVAL</strong>

<i>Vendredi 28 février 2021:</i></br>
Ouverture des portes: 17h00</br>
Fermeture des portes: 02h00</br>

<i>Samedi 29 février 2021:</i></br>
Ouverture des portes: 17h00</br>
Fermeture des portes: 02h00</br>

<i>Dimanche 30 février 2021:</i></br>
Ouverture des portes: 17h00</br>
Fermeture des portes: 02h00</br></br>

<strong>2.LES ACHATS</strong>

Pendant le festival, de nombreux stands te proposent, dans l’enceinte, des services payants : rafraîchissements, collations et merchandising.</p>
</div>

    

    <div class="faqask">
      <h3>Services proposés</h3>
      <a href=""><img src="{{ asset('/imgs/fleche.png') }}" alt="faqflecge" height="60px" width="60px"> </a>
    </div>
    <div class="text_faq">
    <p>Des casiers sont mis à votre disposition pour garder vos affaires de valeur et/ou vêtements.

Les casiers sont surveillés étroitement par nos agents spéciaux.

Les toilettes sont GRATUITES et nettoyées en permanence.</p>
  </div>

    <div class="faqask">
      <h3>Gérer son compte de paiement</h3>
      <a href=""><img src="{{ asset('/imgs/fleche.png') }}" alt="faqflecge" height="60px" width="60px"> </a>
    </div>

    <div class="text_faq">
<p>L’argent réel n’existe pas. Utilisez donc votre bracelet Nation Sounds pour faire vos achats sur le festival.

Le jour de votre arrivée: récupérez votre bracelet à l’entrée du festival au stand d’échange de bracelets.

Pour transférer de l’argent, rendez-vous sur https://www.jetransfereargent.nationsounds.fr/</p>
    </div>

    <div class="faqask">
      <h3>Revente</h3>
      <a href=""><img src="{{ asset('/imgs/fleche.png') }}" alt="faqflecge" height="60px" width="60px"> </a>
    </div>
<div class="text_faq">
<p>Conformément aux Conditions Générales de Vente, la revente de billet pour le festival Nation Sounds est interdite.</p>
</div>


    <footer>
      <div class="footer">
        <p>Copyright 2021 - Nation Sounds Festival </p>


      </div>
    </footer>


</body>

</html>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/app.js') }}"></script>

{% endblock %}
